<?xml version="1.0" encoding="utf-8"?>
<!-- CustomWebApp: 'package' should be left untouched, just update android:versionCode and android:versionName when
     releasing new versions -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.net.du.customwebapp"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ZIP file download -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_short">

        <activity
            android:name="br.net.du.customwebapp.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/prod_domain" />
            </intent-filter>
        </activity>
    </application>
</manifest>